.section-1 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 30px;
  background-color: #ffeee4;
}
.section-1 .imagen-principal {
  border: 2px #d97b66 solid;
  padding: 3px;
}

.contenedor-info div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.contenedor-info {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  font-family: Cambria;
  font-size: 15px;
}
.container-informacion-extra {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.container-informacion-extra ul {
  line-height: 20px;
  margin-left: 20px;
  list-style: circle;
  font-family: Cambria;
  font-size: 15px;
}
.contenedor-idiomas {
  width: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  font-family: Cambria;
  font-size: 15px;
}
.section-1 time {
  font-family: Cambria;
}
.section-1 h2 {
  font-family: Impact;
  font-weight: 100;
  font-size: 20px;
  color: black;
  border-bottom: 3px solid #d97b66;
  

}
.contenedor-info p {
  font-family: Cambria;
  font-size: 15px;
}
.contenedor-info img:hover {
  transform: scale(1.2);
}
